.stats {
  padding: 60px 20px;
  text-align: center;
}

.stats h2 {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}


.top {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.bottom {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.stat-item {
  background-color: #343a40;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  text-align: center;
  transition: transform 0.2s, background-color 0.2s;
  margin: 15px;
}

.stat-item:hover {
  transform: translateY(-10px);
  background-color: #495057;
}

.stat-item h3 {
  font-size: 1.5rem;
  color: #ffc107;
  margin-bottom: 10px;
}

.stat-item p {
  color: #adb5bd;
  font-size: 1rem;
}